@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 235 76% 15%;
    --primary-foreground: 210 40% 98%;

    --secondary: 235 76% 8%;
    --secondary-foreground: 0 0% 100%;

    --accent: 9 100% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .highlight {
    @apply relative after:absolute after:right-0 after:mt-7 after:block after:h-[3px] after:w-0 after:bg-accent after:content-[''] after:duration-200 after:ease-in hover:after:left-0 hover:after:w-full hover:after:bg-accent
  }

  .striped {
    background: repeating-linear-gradient(
    -60deg,
    hsl(var(--background)),
    hsl(var(--background)) 15px,
    hsl(var(--muted)) 15px,
    hsl(var(--muted)) 25px
  );
  }
}